# Environment
PORT=3012
NODE_ENV=development

# MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_password
DB_NAME=chat_db

# Redis
REDIS_URL=redis://127.0.0.1:6379

# JWT (same secret as auth-service)
JWT_SECRET=your_jwt_secret

# Services
NOTIFICATION_SERVICE_URL=http://localhost:3008
HRMS_SERVICE_URL=http://localhost:3002
AUTH_DB_HOST=localhost
AUTH_DB_USER=root
AUTH_DB_PASSWORD=your_password
AUTH_DB_NAME=auth_db
ORG_DB_HOST=localhost
ORG_DB_USER=root
ORG_DB_PASSWORD=your_password
ORG_DB_NAME=organization_db
